

 <div class="jumbotron ">
        <h1>KOMODO</h1>
        <h2>The Health Collaboration Network!</h2>

        <div class="center">
          <%= link_to "Get started today!", new_user_registration_path, class: "btn btn-lg btn-primary center" %></div>
      </div>


<div class="row" style="padding-top: 120px; padding-bottom: 120px;">
  <div class="col-lg-5" style="text-align: center;">
    <i class="icon-user-md" style="font-size: 14em;"></i>
  </div>
  <div class="col-lg-7 pull-left">
    <h1 class="featurette-heading">For Healthcare Professionals. <span class="text-muted">It'll blow your mind.</span></h1>
    <p class="lead">As a professional you can manage your daily operations in a flexible way, support your practice and build health intelligence by communicating with other professionals. Offer applications and tools to your patients to allow for better follow up and experience. </p>
  </div>
  
</div>

<hr>

<div class="row" style="padding-top: 50px; padding-bottom: 50px;">
  <div class="col-lg-7 pull-left">
    <h1 class="featurette-heading">Empowering Collaboration</h1>
    <p class="lead">Komodo is a health collaboration platform that supports the triangular relationship between people, their health professionals and the health &amp; wellbeing industry by offering personalized tools, applications and projects. <br /><br>Creating interesting safe new collaboration opportunities without the need for the users to share their individual personal health data with industry partners to profit from rich personalized applications offered by these partners.</p>
  </div>
  <div class="col-lg-5" style="text-align: center;">
    <i class="icon-sitemap" style="font-size: 14em;"></i>
  </div>
</div>
</div>



