 <% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Medical Event Form...</h1>
        <%= render 'shared/event_form' %>
      </td>
      <td class="sidebar round">
      </td>
    </tr>
  </table>

<% else %>

 <div class="jumbotron">
        <h1>Komodo</h1>
        <h2>The first wellness hub</h2>

        <p class="center">
          <%= link_to "Get started today!", new_user_registration_path, class: "btn btn-lg btn-primary center" %>
      </div>


<div class="row" style="padding-top: 120px; padding-bottom: 120px;">
  <div class="col-lg-7 pull-left">
    <h3 class="featurette-heading">Create your community of care. <span class="text-muted">It'll blow your mind.</span></h3>
    <p class="lead">Plan all four years of college. See what classes your friends are taking, or reviews of classes friends have already taken. </p>
  </div>
  <div class="col-lg-5" style="text-align: center;">
    <i class="icon-book" style="font-size: 14em;"></i>
  </div>
</div>

<hr>

<div class="row" style="padding-top: 120px; padding-bottom: 120px;">
  <div class="col-lg-5" style="text-align: center;">
    <img src="http://fc07.deviantart.net/fs71/f/2010/012/7/2/Hogwarts_Crest_by_NegraPadfoot.jpg" height="300px" width="230px">
  </div>
  <div class="col-lg-7 pull-left">
    <h3 class="featurette-heading"><br>"It feels like you're going to Hogwarts"</h3>
    <p class="lead">Show off your best work on the classroom news stream. Collaborate with peers on projects. Be the best student you can be!</p>
  </div>
</div>

<hr>
</div>

<% end %>