

 <div class="jumbotron ">
        <h1>KOMODO</h1>
        <h2>The Health Collaboration Network!</h2>

        <div class="center">
          <%= link_to "Get started today!", new_user_registration_path, class: "btn btn-lg btn-primary center" %></div>
      </div>


<div class="row" style="padding-top: 120px; padding-bottom: 120px;">
  <div class="col-lg-5" style="text-align: center;">
    <i class="icon-user-md" style="font-size: 14em;"></i>
  </div>
  <div class="col-lg-7 pull-left">
    <h1 class="featurette-heading">For Healthcare Professionals. <span class="text-muted">It'll blow your mind.</span></h1>
    <p class="lead">As a professional you can manage your daily operations in a flexible way, support your practice and build health intelligence by communicating with other professionals. Offer applications and tools to your patients to allow for better follow up and experience. </p>
  </div>
  
</div>

<hr>

<div class="row" style="padding-top: 50px; padding-bottom: 50px;">
  <div class="col-lg-7 pull-left">
    <h1 class="featurette-heading">Empowering Collaboration</h1>
    <p class="lead">Komodo is a health collaboration platform that supports the triangular relationship between people, their health professionals and the health &amp; wellbeing industry by offering personalized tools, applications and projects. <br /><br>Creating interesting safe new collaboration opportunities without the need for the users to share their individual personal health data with industry partners to profit from rich personalized applications offered by these partners.</p>
  </div>
  <div class="col-lg-5" style="text-align: center;">
    <i class="icon-sitemap" style="font-size: 14em;"></i>
  </div>
</div>


<div class="row" style="padding-top: 50px; padding-bottom: 50px;">
   <div class="col-lg-5" style="text-align: center;">
    <i class="icon-group" style="font-size: 14em;"></i>
  </div>
  <div class="col-lg-7 pull-right">
    <h1 class="featurette-heading">Family</h1>
    <p class="lead" style="color: ;">Use services and tools to help you engage in your health in a more proactive manner. Benefit from information that is created out of data of the everyday users and share only what you want to share with who you want to share.</p>
  </div>
</div>


<hr>

<div class="row" style="padding-top: 50px; padding-bottom: 50px;">
  <div class="col-lg-6 pull-left">
    <div style="margin-top: 80px;"  class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title center" style="font-size: 40px;">Key Features</h1>
  </div>
   <ul class="list-group">
    <li class="list-group-item"><span class="lead">Share data and harvest relevant health information</span></li>
    <li class="list-group-item"><span class="lead">Free tools, applications &amp; projects</span></li>
    <li class="list-group-item"><span class="lead">Contact and consult specialists</span></li>
    <li class="list-group-item"><span class="lead">Encrypted storage &amp; sharing</span></li>
    <li class="list-group-item"><span class="lead">Total control over what you share with others</span></li>
  </ul>
</div>
  </div>
  <div class="col-lg-6" style="text-align: center;">
    <%= image_tag("KomodoProfile.png", width: "350") %>
  </div>

<hr>


<div class="row" style="padding-top: 60px; padding-bottom: 60px;">
  <div class="col-lg-4" style="text-align: center;">
   <i class="icon-globe" style="font-size: 14em;"></i>
   <h3 class="featurette-heading"><br>Transparency</h3>
    <p style="color: ; text-align: left;"class="">Sensitivity of the data and the information provided by our users deserves no less than total transparency from us. We aim at making our policies clear and straightforward to help you make informed decisions on your use of the platform and its services.
</p>
  </div>
  <div class="col-lg-4" style="text-align: center;">
    <i class="icon-smile" style="font-size: 14em;"></i>
    <h3 class="featurette-heading"><br>People Centered</h3>
    <p style="color: ; text-align: left;" class="">New valuable information can result from people sharing data on the platform and using its services. We create value by creating depersonalized and aggregated intelligence and returning rich information and services to the users.</p>
  </div>
  <div class="col-lg-4" style="text-align: center;">
    <i class="icon-lock" style="font-size: 14em;"></i>
    <h3 class="featurette-heading"><br>Privacy &amp; Security</h3>
    <p style="color: ; text-align: left;"class="">We use SSL encryption for data collection through forms. When data is stored and transferred it is always encrypted. Your data is only available to you, unless you specifically agree to share it. We offer an easy system for you to control authorizations and access to your data by others.</p>
  </div>
</div>

<div class="container">

<div class="row" style="padding-top: 120px; padding-bottom: 120px;">
  <div class="col-lg-5" style="text-align: center;">
   <i class="icon-hospital" style="font-size: 14em;"></i>
  </div>
  <div class="col-lg-7 pull-left">
    <h3 class="featurette-heading"><br>Core Values</h3>
    <p class="lead">Komodo continuously strives to make the platform more secure to give your data maximum protection. When your data is stored, it is always encrypted. When your data is moved, it remains encrypted. You decide who gets access to your individual health files.</p>
  </div>
</div>

<hr>

