 <% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Medical Event Form...</h1>
        <%= render 'shared/event_form' %>
        <%= render 'shared/event_feed' %>
      </td>
      <td class="sidebar round">
      </td>
    </tr>
  </table>

<% else %>

 <div class="jumbotron">
        <h1>KOMODO</h1>
        <h2>Say hello to your inner dragon!</h2>

        <p class="center">
          <%= link_to "Get started today!", new_user_registration_path, class: "btn btn-lg btn-primary center" %>
      </div>


<div class="row" style="padding-top: 120px; padding-bottom: 120px;">
  <div class="col-lg-7 pull-left">
    <h3 class="featurette-heading">Create your community of care. <span class="text-muted">It'll blow your mind.</span></h3>
    <p class="lead">Copy...copy...copy... </p>
  </div>
  <div class="col-lg-5" style="text-align: center;">
    <i class="icon-stethoscope" style="font-size: 14em;"></i>
  </div>
</div>

<hr>

<div class="row" style="padding-top: 120px; padding-bottom: 120px;">
  <div class="col-lg-5" style="text-align: center;">
   <i class="icon-ambulance" style="font-size: 14em;"></i>
  </div>
  <div class="col-lg-7 pull-left">
    <h3 class="featurette-heading"><br>Be prepared!</h3>
    <p class="lead">Derp drep herp</p>
  </div>
</div>

<hr>
</div>

<% end %>