<%= form_for [@commentable, @message] do |f| %>
 <div class="col-lg-5">
    <%= f.text_area :content, class: "form-control", rows: "2" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
  </div>
<% end %>