

@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Arvo);

// Typography
// -------------------------
//@sansFontFamily:        'Arvo', serif;
//@serifFontFamily:       'Arvo', serif;
//@monoFontFamily:       'Arvo', serif;
@openSansFamily: 'Open Sans', sans-serif;

@baseFontSize:          14px;
//@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
//@altFontFamily:         @serifFontFamily;

//@headingsFontFamily:    @serifFontFamily; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


@import 'font-awesome/font-awesome';
@import 'font-awesome/font-awesome-ie7';


//@import 'twitter/bootstrap.css';

html, body {
  height: 100%;
}

.container-wrap {
	min-height: 100%;
}

body {
	padding-top: 60px;
}

.navbar  {
	border-bottom:thin solid #5CB85C;
}

.footer {
	border-top:thin solid #5CB85C;
	background-color: #FFFFFF;
	height: 180px;
	clear: both;
	padding-top: 20px;
}


/* typography */

blockquote p {
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Varela Round', sans-serif;
	//font-family: 'Arvo', serif;
	line-height: 1;
}

h3, .btn {
	//font-family: 'Arvo', serif;
}

h1 {
//	font-family: 'Open Sans', serif;
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 100;
}

h2 {
	//font-family: 'Open Sans', serif;
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: black;
}

#nav-title-logo {
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;	
	padding: 0;
	padding-top: 5px;
	padding-left: 5px;
	margin: 0;
	padding-bottom: 0;
}

h5 a {
//	font-family: 'Open Sans', serif;
	font-size: 14px;
	padding-right: 10px;
	text-align: center;
	font-weight: normal;
	color: #333333;
}

p {
	font-family: 'Varela Round', sans-serif;
	color: black;
	//font-family: 'Arvo', serif;
}