
<div class="row">
	<div class="col-lg-1" style="text-align: center;">
		<%= gravatar_large_for @user %>
	</div>
	<div class="col-lg-4">
		<h4><%= link_to @user.full_name, @user %></h4>
	</div>

	
</div>
<hr>

		