<div class="row">
<div class="col-lg-3">
				<h4 style="color: #333;"><%= gravatar_large_for @user %> <%= @user.full_name %></h4>
			</div>
			<div class="col-lg-6">
<h1>Medical Clusters</h1>
</div>
</div>

<%= render 'shared/event_form' %>

<%= render @user.events %>
