<%= form_for(Event.new) do |f| %>
  <div class="field" style="padding; 10px;">
    <%= f.text_field :title %>
  </div><br>
  <div class="actions" style="padding; 10px;">
    <%= f.submit "Add new medical event", class: "btn btn- btn-primary" %>
  </div><br>
<% end %>