<div class="panel panel-default">
	<div class="panel-body">
	<%= link_to event.title, event %>

 <span class="timestamp">
      Created <%= time_ago_in_words(event.created_at) %> ago.
    </span>

    <%= link_to "Delete", event, :method => :delete %>

</div>
</div>