<div class="container">
<div class="panel panel-default">
	<div class="panel-body">
	<div class="row-fluid">
		<div class="col-lg-12" style="text-align: center;">
			<p>Komodo 0.1 - Created and Maintained by <a href="https://twitter.com/JamesSteininger">James Steininger</a><p>
			<p>Thanks to <a href="http://michaelhartl.com/">Michael Hartl</a>, <a href="http://fortawesome.github.io/Font-Awesome/">Dave Gandy</a>
</div></div>

<div class="row">
  <div class="col-lg-3"><center>
      <%= image_tag("komodo_square.png") %>
    </center>
  </div>
    <div class="col-xs-3">
      <h5 style="padding-top: 40px; color: #111;">Komodo</h5>
      <a style="color: #666;" href="http://xingthegame.com/index.html">KomodoCare.com</a><br>
      <a style="color: #666;" href="http://steamcommunity.com/sharedfiles/filedetails/?id=128026759">FAQ</a><br>
      <a style="color: #666;" href="http://www.kickstarter.com/projects/1781324918/xing-the-land-beyond">Privacy Policy</a><br>
  </div>
  <div class="col-xs-3">
    <h5 style="padding-top: 40px; color: #111;">Company</h5>
    <a style="color: #666;"href="static_pages/about">About Us</a><br>
    <a style="color: #666;"href="static_pages/help">Roadmap</a><br><!--Roadmap goes to help?-->
    <a style="color: #666;"href="#">Become a dragon</a><br>
</div>
<div class="col-xs-3">
    <h5 style="padding-top: 40px; color: #111;">Social</h5>
    <a style="color: #666;"href="https://www.facebook.com/xingthegame">Facebook</a><br>
    <a style="color: #666;"href="https://twitter.com/xingthegame">Twitter</a><br>
</div>
</div>

</div>
<br />
</div>
</div>
