<div class="container">
	<div class="row">
		<div class="col-lg-2" >
			<br />
			<ul class="nav">
				<li><h6>Medical Events</h6></li>
				<% if current_user.events.any? %>
				<%= render :partial => 'events/view', :collection => current_user.blocks, :as => :block  %>
				<% end %>
			</ul>
		</div>

